body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("background-image.jpg") no-repeat center center fixed; /* Replace with the actual background image */
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .profile-box {
    background-color: #ff574a;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 40px 90px;
    position: relative;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px); /* Adjust the width to include the padding */
  }
  
  .menu-icon,
  .settings-icon {
    width: 25px;
    font-size: 25px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin: 0 auto 20px;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  p {
    margin: 0 0 20px 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
  }
  