* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: blueviolet;
   
    
}


.navDiv{
    display: flex;
   
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    padding: 10px;
    
    background-color: antiquewhite;
    
}
.button1{
    
    
    width: 50px;
  margin: 50px;
  /* text-align: center; */
  line-height: 20px;
  font-size: 10px;
}